MONGO_URI="mongodb+srv://udit_db_user:xUGWfrNUWJa8sQXU@cluster0.r1cwopq.mongodb.net/?appName=Cluster0"

JWT_SECRET="nwefioweoib23402urn!oi"

PORT=5000

ADMIN_EMAIL="admin@company.com"
ADMIN_PASSWORD="admin123"

CRM_API_URL=https://legalpapers.konceptsoftwaresolutions.com/leadRoutes

NODE_ENV=development
